
/* CONTACT SECTION */
.contact-container {
  text-align: center;
  padding-block: 3rem;
  border-top: 1px solid #dee2e6;
}

/* Content Section */
.contact-content {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Image Section */
.image-section {
  flex: 1;
  text-align: center;
}

.contact-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  width: 450px;
}

/* Form Section */
.form-section {
  width: 22rem;
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #333;
}

.submit-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #333;
}

@media screen and (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .form-section {
    margin-top: 2rem;
    width: 100%;
  }

  .contact-image {
    width: 100%;
  }
}